{% extends 'article/base.html' %}
{% block title %}catagory list{% endblock title %}
{% block content %}
<div class="container my-3">
    <div class="row mb-2">
        {% for post in posts %}
        <div class="col-md-6">
            <div
                class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">World</strong>
                    <h3 class="mb-0">{{ post.title|truncatechars:13}}</h3>
                    <div class="mb-1 text-muted">{{ post.date_posted}}</div>
                    <p class="card-text mb-auto">{{ post.content|truncatechars:40}}</p>
                    <a href="{% url 'article-detail' post.id %}" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="{{post.image.url}}" style=" height:230px; width: 230px;">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}